<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Rozšafný Python generátor lístečků. Snadné vytváření a správa lístečků pro akce oddílu Skarabeus.">
    <meta name="keywords" content="lísteček, Skarabeus, Fred, generátor, výpravy, oddíl">
    <meta name="author" content="Fred, alfuoweuh">
    <title>Rozšafný generátor lístečků</title>
</head>
<body>
    <h1>Rozšafný generátor lístečků</h1>
    <form method="GET" action="/listecek">
        <button type="submit" name="action" value="new">Nový od základu</button>
        <p></p>
    </form>
    <form method="GET" action="/vyber">
        <button type="submit" name="action" value="open">Upravit existující</button>
        <p></p>
        <button type="submit" name="action" value="template">Použít existující jako šablonu</button>
    </form>
</body>
</html>