<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Rozšafný generátor lístečků</title>
</head>
<body>
    <h1>Rozšafný generátor lístečků</h1>
    <form method="GET" action="/listecek">
        <button type="submit" name="action" value="new">Nový od základu</button>
        <p></p>
    </form>
    <form method="GET" action="/vyber">
        <button type="submit" name="action" value="open">Upravit existující</button>
        <p></p>
        <button type="submit" name="action" value="template">Použít existující jako šablonu</button>
    </form>
</body>
</html>