<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Rozšafný generátor lístečku</title>
</head>
<body>
    <h1>{% if action == "template" %}Nechť si vyberou nějaký starý lísteček jako šablonu a vdechnou mu zpět s novými daty život.{% elif action == "open" %}Nechť si vyberou, jaký lísteček jest jim po chuti upraviti.{% endif %}</h1>
    <form method="GET" action="/listecek">
        <button type="submit" name="action" value="{{ action }}">Tlačítko</button>
        <p></p>
    </form>
</body>
</html>