<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rozšafný generátor lístečků</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/jpeg" href="{{ url_for('static', filename='icon.ico') }}">
</head>
<body>
    <h1>{% if action == "template" %}Nechť si vyberou nějaký starý lísteček jako šablonu a vdechnou mu zpět život.{% elif action == "open" %}Nechť si vyberou, jaký lísteček jest jim po chuti upraviti.{% endif %}</h1>
    <div style="width: 100%; max-width: 600px;">
        {% for listecek in listecky %}
        <div class="list-item">
            <div class="list-item-info">
                <label>{{ listecek.nazev_vypravy }} – {{ listecek.rok }}</label>
            </div>
            <div class="list-item-button">
                <form method="GET" action="/listecek" style="margin: 0;">
                    <input type="hidden" name="id" value="{{ listecek.id }}">
                    <button type="submit" name="action" value="{% if action == 'template' %}template{% else %}open{% endif %}">{% if action == "template" %}Použít{% else %}Otevřít{% endif %}</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>